/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  padding: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
